<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>LensGab Street Photography</title>

</head>
<body>
	<div id="header">
		<a href="index.html" class="logo">
			<img src="images/LensGabLogo.png">
		</a>
		<ul id="navigation">
			<li>
				<a href="spgallery">Street Portrait</a>
			</li>
			<li>
				<a href="ssgallery">Street Scenery</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<!--<ul>
			<li>
				<a href="spgallery">
					<img src="images/portrait/1.jpg" alt="" width="315px" height="240px">

				</a>
			</li>
			<li>
				<a href="ssgallery">
					<img src="images/scenes/1.jpg" alt="" width="315px" height="240px">

				</a>
			</li>
			<li>
				<a href="spgallery">
					<img src="images/portrait/2.jpg" alt="" width="315px" height="240px">

				</a>
			</li>
		</ul> -->
<!--
		<ul>
			{% for image in images %}
  			<li><img src="{{image.path}}" alt="" width="315px" height="240px"></li>
			{% else %}
  			<li>EMPTY</li>
			{% endfor %}
		</ul> -->
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2016 by LensGab. All rights reserved.</p>
		</div>
	</div>
</body>
</html>
